html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.row.flex-grow-1 {
    flex-grow: 1;
    display: flex;
    margin: 0;
}

.col-md-9.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-box {
    flex-grow: 1;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    overflow-y: auto;
}

.message {
    margin-bottom: 15px;
}

.user-message {
    text-align: right;
    background-color: #000000;
    color: #fff;
    padding: 15px;
}

.ai-message {
    text-align: left;
}

.user-message .btn {
    margin-left: 5px;
    margin-bottom: 5px;
    color: #fff;
    border: 1px solid #fff;
}

.ai-message .btn {
    margin-right: 5px;
    margin-bottom: 5px;
}

.message .btn:last-child {
    margin-right: 0;
}

.sidebar,
.form-control,
.btn-primary {
    overflow-y: auto;
    border-radius: 0;
}

.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    display: none;
}

.input-group {
    position: relative;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.form-control {
    flex-grow: 1;
    margin-bottom: 0;
}

#sendButton {
    width: auto;
    margin-left: 10px;
}

.chat-container .input-chat-arena div.spinner-send-btn{
    margin-left: 15px !important;
    margin-top: 20px;
    border-radius: 100px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.copy-code-btn {
    margin-bottom: 30px;
}

#newChatButton {
    width: 100%;
    margin-bottom: 20px;
}

.navbar-toggler {
    border: none;
    padding: 0;
    background: transparent;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    z-index: 1020;
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }

    #sidebarMenu {
        display: block;
        max-height: 85vh;
        overflow-y: auto;
    }
}

@media (max-width: 767px) {
    #sidebarMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        max-height: 100vh;
        overflow-y: auto;
        background-color: #f8f9fa;
        z-index: 1010;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
    }

    #sidebarMenu.show {
        transform: translateX(0);
    }

    .navbar-toggler {
        display: block;
    }
}

.model-selection {
    position: relative;
}

.d-md-none .navbar-toggler {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1020;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
    background-color: rgba(0,0,0,0.1);
}

.model-selection-prnt {
    margin-left: 15px;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background-color: #f8f9fa;
    border: solid 1px #dcdcdc;
    border-radius: 4px;
    font-family: monospace;
}

/* Animate title of chat start */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.word-animate {
    display: inline-block;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

/* Style the upload button */
#uploadButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
}

/* Style the upload loader */
#uploadLoader {
    position: absolute;
    bottom: 16px;
    left: 10px;
    z-index: 20;
    display: none;
}

/* Hide the actual file input, only show the button */
#imageInput {
    display: none;
}

.user-text-inp {
    padding-left: 62px;
}

/* suggestion start */
.suggestion-box > p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.suggestion-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

.suggestion-btn {
    display: block;
    background: #fff;
    border: 1px solid #333;
    color: #333;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    cursor: pointer;
    text-align: left;
}

.suggestion-btn:hover {
    background-color: rgba(7, 226, 132, 0.632);
}

/* suggestion end */

.images-container {
    margin-bottom: 50px;
}

.chat-image {
    width: 250px;
    height: 250px;
    margin: 5px;
}
