html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-box {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
}

.message {
    margin-bottom: 15px;
}

.user-message {
    text-align: right;
}

.ai-message {
    text-align: left;
}

.row.flex-grow-1 {
    flex-grow: 1;
    display: flex;
    margin: 0;
}

.sidebar,
.form-control,
.btn-primary {
    overflow-y: auto;
    border-radius: 0;
}

.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    display: none; /* Initially hidden, shown when loading */
}

.input-group {
    flex-wrap: nowrap; /* Ensures items in the input group are on the same line */
    /* Remove the width and height constraints */
}

.form-control {
    flex-grow: 1;
    margin-bottom: 0;
}

#sendButton {
    width: auto;
    margin-left: 10px;
}

.spinner-border {
    margin-left: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.copy-code-btn {
    margin-bottom: 30px;
}

#newChatButton {
    width: 100%;
    margin-bottom: 20px;
}

.navbar-toggler {
    border: none;
    padding: 0;
    background: transparent;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    z-index: 1020;
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }

    #sidebarMenu {
        display: block;
    }
}

@media (max-width: 767px) {
    #sidebarMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        background-color: #f8f9fa;
        z-index: 1010;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
    }

    #sidebarMenu.show {
        transform: translateX(0);
    }

    .navbar-toggler {
        display: block;
    }
}

.model-selection {
    position: relative;
}

.d-md-none .navbar-toggler {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1020;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
    background-color: rgba(0,0,0,0.1);
}

/* Add styles for .chat-container */
.col-md-9.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Aligns children to the start and end */
    height: 100%;
}

.chat-box {
    flex-grow: 1; /* Makes chat box grow to fill available space */
    /* Other styles remain the same */
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    overflow-y: auto; /* Changed from scroll to auto */
}
.model-selection-prnt{margin-left: 15px;}